<!DOCTYPE html>
<html lang="uk">
<head>
    <title>10 кругов брейнрота</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
 <div class="box">
        <h3>Список мемів</h3>
        <form action="/add" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="новий щітпост" required>
            <input type="file" name="files">
            <button type="submit">Додати</button>
        </form>
        <ul>
            {% for task in tasks %}
                <li>
                    {% if task.completed %}
                        <a href="{{ url_for('complete_task', task_id=task.id) }}" class="completed"><i class="fa-regular fa-square-check"></i></a>
                        <a class="completed"><span style="text-decoration: line-through">{{ task.title }}</span></a>
                    {% else %}
                        <a href="{{ url_for('complete_task', task_id=task.id) }}"><i class="fa-regular fa-square"></i></a>
                        {{ task.title }}
                    {% endif %}
                    <a href="{{ url_for('edit_task', task_id=task.id) }}" class="edit"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ url_for('delete_task', task_id=task.id) }}" class="trash"><i class="fa-solid fa-trash-can"></i></a>
                    {% if task.files %}
                    <ul>
                        {% for file in task.files %}
                            <li>
                                <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">Переглянути файл</a><br>
                                {% if file.filename.endswith(('jpg', 'jpeg', 'png', 'gif', 'webp')) %}
                                    <img src="{{ url_for('static', filename='uploads/' + file.filename) }}" alt="Зображення" class="media">
                                {% elif file.filename.endswith(('mp3', 'wav', 'ogg', 'flac')) %}
                                    <audio controls class="media">
                                        <source src="{{ url_for('static', filename='uploads/' + file.filename) }}" type="audio/{{ file.filename.split('.')[-1] }}">
                                        Ваш браузер не підтримує аудіо.
                                    </audio>
                                {% elif file.filename.endswith(('mp4', 'avi', 'mov', 'mkv')) %}
                                    <video controls class="media">
                                        <source src="{{ url_for('static', filename='uploads/' + file.filename) }}" type="video/{{ file.filename.split('.')[-1] }}">
                                        Ваш браузер не підтримує відео.
                                    </video>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>