<!DOCTYPE html>
<html>
<head>
<title>10 кругов брейнрота</title>
<body>
<style>
body {
  background-image: url('OIP.png');
  background-size: 100% 120%;
}
</style>
<h1 style="color:white;">Список анекдотів</h1>

<p style="color:white;">This is a paragraph.</p>
<img src="R.png" height="300" width="300">
<p style="color:white;">This is another paragraph.</p>
<img src="shreksophone-me-when.gif" height="300" width="300">
<img src="7yz5qfup.png" height="300" width="300">
</body>
</html>
